.title
	text-align center
	font-size 25px
	padding-bottom 20px
	border-bottom 1px solid lightgray
	font-weight bold
.searchs
	margin 30px 0
	label
		margin-right 25px
	.el-input__inner
		width 200px
		display inline-block
	.el-input
		width 200px
	.mr25
		margin-right 25px
	.ml25
		margin-left 25px
	.mt25
		margin-top 25px
	.bothdate
		vertical-align middle
		width 360px
		*
			float left
.mini
	.el-input__inner
		width 200px
		display inline-block
	.el-input
		width 200px !important
input
	1px solid #dcdfe5 !important
table
	width 100%
	caption
		margin-bottom 20px
	.cap2
		margin-top 20px
	tr
		td
			border 1px solid #dadde4
			vertical-align middle
			text-align center
			padding 10px
	thead,tfoot
		td
			padding 15px
	thead
		background #409EFF
		color #fff
		td
			font-weight bold
	.table_img
		width 200px
.textarea
	width 400px
.input-mini
	width 200px
.main_table
	min-width 1000px
	overflow auto
.add_btn
	float right
input[type='file']
	width 200px
	display none
img[class^='addPic'],img[class^='modifyPic'],img[class^='selectImg']
	width 80px
	height 80px
	cursor pointer